/*Btn Style One*/
/*Btn Style One*/
.btn-style-cart {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 60px;
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50px;
    z-index: 1;
    background: var(--bg-theme-color3);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .btn-style-cart:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: var(--bg-theme-color1);
    clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
  }
  .btn-style-cart:hover:before {
    clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
  }
  .btn-style-cart:hover {
    color: #ffffff;
  }












